@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/variable" as *;

.card {
  height: 580px;
  width: 260px;
  padding: 2vh;
  font-family: $secondary-font;
  border: 1px solid $secondary-colour;
  border-radius: 20px;

  &__1 {
    grid-area: card__1;
  }
  &__2 {
    grid-area: card__2;
  }
  &__3 {
    grid-area: card__3;
  }
  &__4 {
    display: none;
    grid-area: card__4;
  }
  &__5 {
    display: none;
    grid-area: card__5;
  }
  &__6 {
    display: none;
    grid-area: card__6;
  }
  &__img {
    width: 99%;
    display: flex;
    justify-self: center;
  }
  &__stack {
    @include verticalPadding();
    color: $quaternary-colour;
  }
  &__title {
    @include verticalPadding();
  }
  &__content {
    @include verticalPadding();
    color: $quinary-colour;
  }
}

.links {
  &__code {
    @include verticalPadding();
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  &__live {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  &__title {
    padding-right: 1vh;
    text-decoration: none;
  }
  &__i {
    padding-right: 1vh;
    text-decoration: none;
  }
}

@media screen and (min-width: 454px) and (max-width: 920px) {
  /* ipad screen */
  .card {
    height: 630px;
    width: 300px;
  }
}

@media screen and (min-width: 920px) {
  /* laptop screen */
  .card {
    height: 780px;
    width: 260px;
  }
}
