@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/variable" as *;
.footer {
  background-color: $tertiary-colour;
  padding: 5vh;
  &__icons {
    @include flexCenter();
    @include paddingMargin();
  }
  &__h2 {
    @include flexCenter();
    @include paddingMargin();
    font-size: 3vh;
  }
  &__img {
    margin: 1em;
    border: 2px solid $quaternary-colour;
    padding: 10px;
    border-radius: 16px;
    height: 3vh;
    width: 3vh;
  }
}

@media screen and (min-width: 830px) {
  /* laptop screen */
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
    &__img--cv {
      display: none;
    }
  }
}
