@mixin flexCenter() {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flexCenterColumn() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin centerText() {
  text-align: center;
}

@mixin paddingMargin() {
  padding: 1vh;
  margin: 1vh;
}

@mixin verticalPadding() {
  padding-top: 2vh;
  padding-bottom: 1vh;
}
