@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
$primary-font: "Inter";
$secondary-font: "Fira Code", monospace;
$primary-colour: #272643;
$secondary-colour: #bfe3ff;
$tertiary-colour: #47f68d;
$quaternary-colour: #7460e1;
$white-colour: #fff;
$pink-colour: #ffdadf;
$quinary-colour: #707070;
